langchain
langchain-core
langchain-community
langchain-qdrant
qdrant-client
fastembed
sentence-transformers

# LLM providers
openai
groq

# Data processing
pdfplumber
pymupdf
pypdf
pydantic
numpy
puremagic
pandas

# API & Web
fastapi
uvicorn
httpx
psycopg2
sqlalchemy
uuid
dotenv

# Utilities
python-dotenv
huggingface-hub
